APP_NAME=Personal DW Workbench API
APP_ENV=dev
DEBUG=true

# SQLite development example
DATABASE_URL=sqlite:///./personal_dw_workbench.db

# MySQL example
# DATABASE_URL=mysql+pymysql://dw_user:your_password@127.0.0.1:3306/personal_dw_workbench?charset=utf8mb4

# PostgreSQL draft example
# DATABASE_URL=postgresql+psycopg2://postgres:your_password@127.0.0.1:5432/personal_dw_workbench
